$colorButtonHeader: #000;
$colorButtonHeaderActive: #FF0000;
$colorFooter: #7E7E7E;
$colorBtn: #CE0002;

@mixin titleText {
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 700;
}

@mixin TitleP {
    font-size: 24px;
    font-weight: 400;
}