@import 'nullstyle';
@import 'additionalStyle';

.container {
    max-width: 94%;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {transition: transform 0.3s ease;}

a:hover {transform: scale(1.1);}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;

    .logo {
        max-width: 135px;
        max-height: 75px;
    }

    .nav {
        display: flex;
        align-items: center;

        &__button {
            max-width: 220px;
            color: $colorButtonHeader;
            font-size: 20px;
            font-weight: 600;
            margin-right: 56px;
            padding: 10px 0;
        }

        &__button:nth-child(5) {
            color: $colorButtonHeaderActive;
        }

        &__button:last-child {
            margin: 0;
            font-size: 28px;
        }
    }
}

.social-media {
    display: flex;
    flex-direction: column;

    a {
        margin-bottom: 18px;
    }

    a:last-child {margin: 0;}
}

.main {
    display: flex;
    margin-top: 236px;

    .social-media {
        margin-right: 68px;
    }

    h1 {
        @include titleText;
    }

    &__content {
        .title__text {
            display: flex;
    
            .search {
                display: flex;
                align-items: center;
                margin-left: 64px;
                height: 56px;
                width: 480px;
                background-color: #D3D1E9;
    
                #course-name {
                    flex-grow: 1;
                    height: 24px;
                    padding: 16px 0;
                    margin: 0 12px 0 16px;
                    font-size: 16px;
                    background-color: #D3D1E9;
                }
    
                #course-name::placeholder {
                    color: #000;
                }
    
                #clear-button {
                    padding: 8px;
                    border: none;
                    color: #595D62;
                    background-color: #D3D1E9;
    
                    p {
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }
        }

        .tablePrice {
            margin-top: 80px;
            width: 90%;

            table {
                width: 100%;
                border-collapse: collapse;
                text-wrap: nowrap;
            }

            th {
                text-align: left;
                font-size: 32px;
                font-weight: 600;
                padding-left: 20px;
            }

            tr {height: 57px;}

            tr:nth-child(even) {
                background-color: #f5f5f5;
                border: 1px solid #f5f5f5;
                border-radius: 10px;
            }

            td {
                @include TitleP;
                padding-left: 20px;
            }
        }
    }
}

@import 'adaptive'