@media (max-width: 1150px) {
    .aboutUs {display: block;}
}
@media (min-width: 1150px) {
    .aboutUs{display: flex;}
}

@media (max-width: 1250px) {
    header .nav__button {margin-right: 32px;}
}
@media (min-width: 1250px) {
    header .nav__button {margin-right: 56px;}
}

@media (max-width: 1440px) {
    .nav__button:nth-child(7) {
        display: none;
    }
    .nav__button:nth-child(8) {
        display: flex;
    }
    .aboutUs__image {width: 55%;}
    .aboutUs__image .image__content .image__item .item__text h2 {
        font-size: 36px;
    }
    .aboutUs__image .image__content .image__item .item__text p {
        font-size: 20px;
    }
}

@media (min-width: 1440px) {
    .nav__button:nth-child(7) {
        display: flex;
    }
    .nav__button:nth-child(8) {
        display: none;
    }
    .aboutUs__image {width: 51%;}
    .aboutUs__image .image__content .image__item .item__text h2 {
        font-size: 44px;
    }
    .aboutUs__image .image__content .image__item .item__text p {
        font-size: 24px;
    }
}