@import 'nullstyle';
@import 'additionalStyle';

.container {
    max-width: 94%;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {transition: transform 0.3s ease;}
button {transition: transform 0.3s ease;}

a:hover {transform: scale(1.1);}
button:hover {transform: scale(1.1);}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin-bottom: 84px;

    .logo {
        max-width: 135px;
        max-height: 75px;
    }

    .nav {
        display: flex;
        align-items: center;

        &__button {
            max-width: 220px;
            color: $colorButtonHeader;
            font-size: 20px;
            font-weight: 600;
            margin-right: 56px;
            padding: 10px 0;
        }

        &__button:first-child {
            color: $colorButtonHeaderActive;
        }

        &__button:last-child {
            margin: 0;
            font-size: 28px;
        }
    }
}

.social-media {
    display: flex;
    flex-direction: column;

    a {
        margin-bottom: 18px;
    }

    a:last-child {margin: 0;}
}

.main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &__title {
        h1 {
            @include titleText;
            margin: 124px 0 80px 0;
        }

        .title__btn {
            display: flex;
            align-items: center;

            .btn {
                display: flex;
                align-items: center;
                background-color: $colorBtn;
                margin-left: 38px;
                padding: 20px 48px;
                font-size: 24px;
                color: #fff;
                font-weight: 600;

                p {
                    max-width: 124px;
                    height: 56px;
                }

                img {
                    margin-left: 10px;
                    padding-bottom: 6px;
                }
            }
        }
    }

    &__image {
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.aboutUs {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 196px;

    &__title {
        display: flex;

        h1 {
            @include titleText;
            margin-bottom: 38px;
        }

        p {
            @include TitleP;
            max-width: 606px;
        }
    }

    &__image {
        width: 51%;

        h1 {
            @include titleText;
            margin-bottom: 44px;
        }

        .image__content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .image__item {
                height: 245px;
                margin-bottom: 75px;

                .item__icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 137px;
                    height: 137px;
                    background-color: $colorIconBg;
                    margin-bottom: 18px;
                }

                .item__text {
                    h2 {
                        font-size: 44px;
                        font-weight: 900;
                        margin-bottom: 9px;
                    }
                    p {
                        font-size: 24px;
                        font-weight: 600;
                        color: $colorCardP;
                    }
                }
            }
        }
    }
}

.bestSpec {
    margin-bottom: 64px;
    
    h1 {
        @include titleText;
        margin: 64px 0 64px 0;
    }

    &__content {
        display: flex;

        .social-media {
            margin-right: 70px;
        }

        .bestSpec__card {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            max-width: 94%;

            .bestSpec__item {
                margin-right: 70px;
                img {
                    margin-bottom: 16px;
                }

                h1 {
                    font-size: 32px;
                    margin: 0 0 3px;
                }
                h2, p {
                    font-size: 20px;
                    font-weight: 500;
                    margin-bottom: 16px;
                }
                p {
                    margin: 0;
                    color: $colorSpecialP;
                }
            }

            .bestSpec__item:last-child {
                margin: 0;
            }
        }

        .next {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 6px;

            button {
                padding: 15px 15px;
                background-color: $colorBtn;
            }
        }
    }
}

.footer {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    color: $colorFooter;
    font-size: 16px;

    .nav {
        display: flex;
        align-items: center;

        &__button {
            margin-right: 32px;
            color: $colorFooter;
        }

        &__button:last-child {
            margin: 0;
        }
    }

    .social-media {
        flex-direction: row;
        a {margin: 0 0 0 11px;}
        a:first-child {margin-left: 0;}
    }
}

@import 'adaptive'