@import 'nullstyle';
@import 'additionalStyle';

.container {
    max-width: 94%;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin-bottom: 84px;

    .logo {
        max-width: 135px;
        max-height: 75px;
    }

    .nav {
        display: flex;
        align-items: center;

        &__button {
            max-width: 220px;
            color: $colorButtonHeader;
            font-size: 20px;
            font-weight: 600;
            margin-right: 56px;
            padding: 10px 0;
        }

        &__button:nth-child(4) {
            color: $colorButtonHeaderActive;
        }

        &__button:last-child {
            margin: 0;
            font-size: 28px;
        }
    }
}

.social-media {
    display: flex;
    flex-direction: column;

    a {
        margin-bottom: 18px;
    }

    a:last-child {margin: 0;}
}

.aboutUs {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .social-media {
        margin-right: 22px;
    }

    &__title {
        display: flex;
        margin-top: 196px;

        h1 {
            @include titleText;
            margin-bottom: 38px;
        }

        p {
            @include TitleP;
            max-width: 606px;
        }
    }

    &__image {
        margin-top: 128px;
        width: 51%;
        h1 {
            @include titleText;
            margin-bottom: 44px;
        }

        .image__content {
            display: flex;
            justify-content: space-between;
            max-width: 784px;
            flex-wrap: wrap;

            .image__item {
                height: 245px;
                margin-bottom: 75px;

                .item__icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 137px;
                    height: 137px;
                    background-color: $colorIconBg;
                    margin-bottom: 18px;
                }

                .item__text {
                    h2 {
                        font-size: 44px;
                        font-weight: 900;
                        margin-bottom: 9px;
                    }
                    p {
                        font-size: 24px;
                        font-weight: 600;
                        color: $colorCardP;
                    }
                }
            }
        }
    }
}

.footer {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    color: $colorFooter;
    font-size: 16px;

    .nav {
        display: flex;
        align-items: center;

        &__button {
            margin-right: 32px;
            color: $colorFooter;
        }

        &__button:last-child {
            margin: 0;
        }
    }

    .social-media {
        flex-direction: row;
        a {margin: 0 0 0 11px;}
        a:first-child {margin-left: 0;}
    }
}